@media only screen and (min-width:320px) and (max-width:480px) {
  .box {
    width: 300px;
    height: 300px;
  }

  .my-image img {
    width: 240px;
  }

  .scrolling-words-container {
    flex-direction: column;
    align-items: flex-start;
  }

  li {
    list-style: none;
  }

  ul {
    margin: 0 !important;
  }
  .subtitle {
    width: 100%;
    box-sizing: border-box;
  }
  .hero-row {
    align-items: center;
    justify-content: center;
  }
  .button-flex {
    display: grid!important;
  }
  
}